* {
	margin: 0;
	padding: 0;
}


body {
	background: black; 
	margin: 0px;
	color: gray;
	font-size: 20px;
	font-family: 'Josefin Slab', serif;
}

h1 {
	font-size: 100px;
	padding: 50px;
}

h3{
	padding: 50px;
	width: 40%;
}

/* ------------- Navigation Bar -------------------------*/
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
 font-family: 'Josefin Slab', serif;
 padding: 0px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* ------------- For Chapter 1 Part 1 -------------------------*/

p {
	font-size: 30px;
	width: 50%;
	padding: 200px;
	
}

/* falling alice picture  */
#overlay{
	width:15%;
	position:fixed; /*You may also use fixed depending on your needs.*/
	left:40%;
	top:50%; /*If you want it at the bottom you probably want bottom:0 instead*/
	z-index: 999;
	-webkit-animation: mymove 4s infinite;

}

@-webkit-keyframes mymove {
    0% {top: 40%;}
    50% {top: 45%;}
	100% {top: 40%;}
	animation-timing-function: ease;
}



#next{
	width:15%;
	bottom: 10px; /*You may also use fixed depending on your needs.*/

}

/* falling pieces  */
.container{
	pointer-events: none;
	top:0px;
	width:100%;
	height:100%;
	min-height: 800px;
	position:absolute;
	left:0%;

}

.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    bottom: -80;
    width: 80px;
    height: 80px;
	margin: -280px 100px 54px  -34px;
	background-size: 100%;
    background:url("images/pic1.jpg");
    
    -webkit-animation: loader 10s infinite  linear;
    -moz-animation: loader 10s infinite  linear;
	animation-direction: reverse;
}
.loader span:nth-child(5n+5) {

    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
}
.loader span:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;

}
.loader span:nth-child(2n+5) {

    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;

}

.loader span:nth-child(3n+10) {

    -webkit-animation-delay: 2.7s;
    -moz-animation-delay: 2.7s;

}
.loader span:nth-child(7n+2) {

    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;

}
.loader span:nth-child(4n+5) {

    -webkit-animation-delay: 5.5s;
    -moz-animation-delay: 5.5s;

}
.loader span:nth-child(3n+7) {

    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;

}
@-webkit-keyframes loader {
  0% {
    width: 80px;
    height: 80px;
    opacity: 0;
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    width: 80px;
    height: 80px;
    opacity: 1;
	-webkit-transform: translate(100px, 100px) rotateZ(30deg); 
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 1;
	-webkit-transform: translate(150px, 2000px) rotateZ(60deg);
  }
}


/* ------------- For Chapter 1 Part 2 -------------------------*/
.column {
    float: left;
    width: 20%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}


img.door:hover {
	opacity: 0.5;
}